body{
  color: #111111;
  background : #F6F6F5;
  font-family: "DejaVu LGC Sans Mono", Courier, monospace;
  font-size: 12pt;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a:link {
  color: #0066cc;
  background : #F6F6F5;
}

a:visited{
  color: cyan;
  background : #F6F6F5;
}

a:hover{
  color: #0066cc;
  background : #F6F6F5;
}

a:active{
  color: #0066cc;
  background : #F6F6F5;
}

footer {
  color: #111111;
  background-color: #F6F6F5;
  width: calc(100% - 40px);
  padding: 20px;
  border-top: 1px solid #ccc;
}

.highlight { color: #0066cc; }
.hero {
  max-width: 200px;
  margin: 30px;
}

main p {
  max-width: 800px;
  text-align: left;
}
